*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom right, rgb(100, 233, 207), rgb(251, 70, 204))
}

nav{
    height: 70px;
    background-color: rgb(129, 1, 49);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 2px 10px grey;
}

.logo{
    color: white;
    letter-spacing: 5px
}

.nav-links{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    width: 30%;
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.burger div{
    width: 20px;
    height: 2px;
    margin: 4px;
    background-color: white;
}

.burger{
    display: none;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width: 768px){

    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        background-color: rgb(129, 1, 49);
    }

    .burger{
        display: block;
        cursor: pointer;
    }
    
}

.nav-active{
    transition: translateX(0%);
}
